<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

    <% if (typeof message !== 'undefined') { %>
        <pre><%= message %></pre>
    <% }  %>
    <form action="/users/login" method="POST">
        <label>
            Email
            <input type="email" name="email" required> 
        </label>
        <label>
            Password
            <input type="password" name="password" required>
        </label>
        <button>submit</button>
    </form>
</body>
</html>