<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not logged In</title>
</head>
<body>
    
    <p>
        You're not logged in,
        go to <a href="/users/login">Loginp page</a> or 
        <a href="/users/signup">signup page</a>
    </p>
</body>
</html>