<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>
<body>
    <form action="/users" method="POST">
        <label>
            Email
            <input type="email" name="email" required> 
        </label>
        <label>
            Password
            <input type="password" name="password" required>
        </label>
        <button>submit</button>
    </form>
</body>
</html>